*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container{
	max-width:1140px;
	margin:0 auto;
	padding-left:12px;
	padding-right:12px;
}

.row{
	display:flex;
	flex-wrap:wrap;
	margin-left:-12px;
	margin-right:-12px;
}
.justify-center{
	justify-content:center;
}
img{
	display:block;
	width:100%;
}
:root{
	--secondary-color:#6c757d;
	--primary-color:#353f4f;
	--black-color:#000;
	--white-color:#fff;
	--main-color:#f74780;
	--para-color:#757575;
	--fs-22:22px;
	--fs-27:27px;
	--fs-14:14px;
	--fs-57:57px;
	--fs-18:18px;
	--fs-16:16px;
	--fs-36:36px;
	--fs-23:23px;
	--fs-17:17px;
	--fs-67:67px;
	--fs-24:24px;
	--fs-42:42px;
	--fs-53:53px;
	--fw-100:100;
	--fw-200:200;
	--fw-300:300;
	--fw-400:400;
	--fw-500:500;
	--fw-600:600;
	--fw-700:700;
	--fw-800:800;
	--fw-900:900;
	--rubik:rubik;
	--jakarta:Plus Jakarta Sans;
}

.w-1{
	width:8.33%;
}

.w-2{
	width:16.66%;
}

.w-3{
	width:25%;
}

.w-4{
	width:33.33%;
}

.w-5{
	width:41.66%;
}

.w-6{
	width:50%;
}

.w-7{
	width:58.33%;
}

.w-8{
	width:66.66%;
}

.w-9{
	width:75%;
}

.w-10{
	width:83.33%;
}

.w-11{
	width:91.66%;
}

.w-12{
	width:100%;
}

.w-1,.w-2,.w-3,.w-4,.w-5,.w-6,.w-7,.w-8,.w-9,.w-10,.w-11,.w-12{
	padding-left:12px;
	padding-right:12px;
		
}
.d-flex{
	display:flex;
	flex-wrap:wrap;
}
a{
	text-decoration:none;
}
ul,ol,li{
	list-style:none;
}
.justify-center{
	justify-content:center;
}

.align-center{
	align-items:center;
}
.justify-end{
	justify-content:flex-end;
}
header{
	padding:10px 0;
	font-size:var(--fs-17);
	font-family:var(--jakarta);
}
.logo1 img{
	width:163px;
}
header .menu ul li a{
	color: var(--white-color);
}
header .menu ul li{
	margin-left:20px;
}
header .menu ul li a i{
	color:var(--white-color);
	font-size:var(--fs-14);
}
header .menu ul li:last-child a{
	padding:5px 15px;
	border-radius:5px;
	background-color:var(--main-color);
	transition: all 0.5s;
}
header .menu ul li:nth-last-child(2){
	margin-left:50px;
}
header .menu ul li:last-child a:hover{
	background-color:transparent;
	border:1px solid white;
}
header .menu ul li .drop-down ul li a:last-child {
	padding:5px 15px;
	background-color:var(--white-color);
	color:var(--black-color);
	border:none;
}
header .menu ul li .drop-down{
	opacity: 0;
	transition: all 0.5s;
	top:65px;
	border-radius: 5px;
	visibility: hidden;
	position: absolute;
	background-color: var(--white-color);
	
	padding: 10px 5px;
}
header .menu ul li .drop-down ul li a:hover{
	background-color: #f4f4f9;
	color:var(--main-color);
}
header .menu ul li:hover .drop-down{
	opacity: 1;
	visibility: visible;
	color:var(--main-color);
}
header .menu ul li .drop-down ul li{
	border-radius: 5px;
	padding: 5px 5px;
	text-align: center;
	margin: 0px;
	position: relative;

}
header .menu ul li:last-child a{
	background-color:var(--main-color);
	margin-right:0px;
}
header .menu ul li .drop-down ul li a:nth-last-child(2){
	margin-left:0px;
}

/* header end */





/* banner start */
.main-benner{
	background-image:url('../img/bg.jpeg');
	background-size:cover;
	background-repeat: no-repeat;
	background-position: top;
}
.benner .banner-content{
	color:var(--white-color);
	font-family: var(--rubik);
}
.benner .banner-content h1{
	font-size: var(--fs-67);
	font-family: var(--jakarta);
	margin-bottom: 18px;
	padding:20px;

}
.benner .banner-content p{
	font-size: var(--fs-22);
	line-height: 50px;
	margin-bottom: 28px;


}
.benner .banner-content a{
	padding: 10px 20px; 
	background-color: var(--main-color);
	color:var(--white-color);
	transition: all 0.5s;
	border-radius: 5px;
	margin-bottom: 20px;
	font-size: var(--fs-18);
	
	
}
.benner .banner-content a:hover{
	background-color: transparent;
	border-color: white;
	border: 1px solid white;
}
.benner .banner-content span{
	display:block;
	font-size: var(--fs-15);
	margin-top: 20px;

}
/* banner end */





/* strategy start */

.marketing-strategy{
	padding:50px 0;
}
.title{
	text-align:center;
	
}
.title h2{
	
	font-size:var(--fs-57);
	text-align:center;
	font-family:var(--jakarta);
}
.title p{
	
	font-size:var(--fs-24);
	font-family:var(--rubik);
	color:var(--para-color);
	padding: 10px 0;
	text-align:center;
	
}
.marketing-strategy .w-3{
	text-align:center;
	padding:50px 0;
}
.marketing-strategy .icon{
	text-align: center;
}
.marketing-strategy .icon i{
	font-size:var(--fs-57);
	color:var(--main-color);
	text-align:center;
	padding:5px 0;
}
.marketing-strategy h3{
	font-family:var(--jakarta);
	font-size:var(--fs-23);
	padding:5px 0;
	
}
.marketing-strategy p{
	font-family:var(--rubik);
	font-size:var(--fs-18);
	padding:10px 0;
}
.marketing-strategy .icon{
	position:relative;
	text-align: center;
}
.marketing-strategy .marketingstrategy-Content .icon::after{
	position:absolute;
	content:'';
	background-color:rgb(251, 231, 239);
	width:30%;
	height:100%;
	border-radius:50% 30% 100% 40%;
	top:0;
	left:70px;
	transform:translate(50%);
	z-index: -1;

}
/* marketing-strategy end */




/* valuable visitors start */
.valuable-visitors .content-box{
	font-family:var(--jakarta);
	padding: 100px 0;
}
.valuable-visitors .content-box span{
	font-family:var(--jakarta);
	font-size:var(fs-15);
	font-weight:var(--fw-800);
	color:var(--para-color);
}
.valuable-visitors .content-box h2{
	font-family:var(--jakarta);
	font-size:var(--fs-53);
	color:var(--black-color);
	padding:10px 0;
}
.valuable-visitors .content-box p{
	font-family:var(--rubik);
	font-size:var(--fs-18);
	color:var(--para-color);
	padding:10px 0;
}
.valuable-visitors .content-box h3{
	font-family:var(--jakarta);
	font-size:var(--fs-27);
	color:var(--black-color);
	padding:10px 0;
}
.valuable-visitors .content-box ul li{
	list-style:disc;
}
.order{
	order:-1;
}
.divider{
	margin: 40px 0;
	width: 100%;
	height: 1px;
	opacity: 4;
	background-color: transparent;
	border:none;
	background-image: linear-gradient(90deg, rgba(206,211,246,0) 0, #bbb 38%, #bbb 64%, rgba(206,211,246,0) 99%);
	

}
.valuable-visitors.content-box a{
	
	border:1px solid black;
	padding: 10px 20px;
	transition: all 0.5s;
	border-radius: 5px;
	font-family: var(--rubik);
	font-size: var(--fs-14);
	color:var(--black-color);
}
.valuable-visitors .content-box a:hover{
	background-color: var(--main-color);
	color:var(--white-color);
	border:none;
}
.chekbox .content-box ul li{
	list-style:none;
}







/* socialmedia marketing start */
.socialmarketing{
	text-align:center;
	padding:30px 0;
	margin:30px;
	
}
.socialmarketing .socialmarketing-img{
	background-color:#f4f4f9;
	border-radius:10px;
	padding:30px;
	margin:20px 0;
}
.socialmarketing.socialmarketing-img h2{
	font-size:var(--fs-36);
	color:var(--primary-color);
	font-family:var(--jakarta);
	padding:15px 0;
}
.socialmarketing .socialmarketing-img p{
	font-size:var(--fs-18);
	font-family:var(--rubik);
	color:var(--para-color);
	padding:15px 0;
}

.socialmarketing .socialmarketing-content h2{
	font-family:var(--jakarta);
	font-size:var(--fs-27);
	color:var(--primary-color);
	padding:15px 0;
}
.socialmarketing .socialmarketing-content{
	background-color:#f4f4f9;
	padding:30px;
	border-radius:10px;
	margin:20px 0;
}
.socialmarketing .socialmarketing-content p{
	
	font-size:var(--fs-18);
	font-family:var(--rubik);
	padding:15px 0;
	color:var(--para-color);
	
}
/* socialmedia marketing end */






/*logo start */
.logo-trust{
padding:50px 0;
}

.logo-trust .w-2{
padding:10px 0;
}

/* logo end */





/*  integer start */
.integer {
	padding:10px 0;
}

.integer p{
	font-size:var(--fs-18);
	color:var(--secondary-color);
	font-family:var(--rubik);
	
	
}
.integer h2{
	font-family:var(--jakarta);
	color:var(--primary-color);
	font-size:var(--fs-36);

}
.justify-between{
	justify-content:space-between;
}

/* integer end */




/* progress start */

.progress .progress-image{
	padding: 40px 0;
	position: relative;
}
.progress{
	background-color:#f4f4f9;
	padding: 50px 0;
}
.progress .progress-image .icon i{
	color:var(--main-color);
	position: absolute;
	transform: translate(-50%,-50%);
	top:50%;
	left:50%;
	font-size: 100px;
}
/* progress end */






/* Complete-Solutions start */
.Complete-Solutions .card{
	
	text-align: center;
	padding: 20px 0;
}
.Complete-Solutions .card .card-img{
	border-radius: 10px;
	padding: 30px 40px;
	background-color: #f4f4f9;
	

}
.Complete-Solutions .card .card-content h2{
	font-family: var(--jakarta);
	font-size: var(--fs-24);
	padding: 15px 0;
	color:var(--primary-color);
}
.Complete-Solutions .card .card-content p{
	font-family: var(--rubik);
	font-size: var(--fs-18);
	color:var(--para-color);
	padding: 15px 0;
}

/* Complete-Solutions end */




/* martex start */
.martex{
	padding: 50px 0;
	text-align: center;
}

.martex .martex-img .href a{
	color: var(--black-color);
	text-align: center;
	padding: 10px 20px;
	font-family: var(--rubik);
	font-size:var(--fs-14);
	display:inline-block;
	border:1px solid black;
	transition: all 0.5s;
}
.martex .martex-img{
	padding: 20px 0;
}
.martex .martex-img .href{
	padding: 20px 0;
}
.martex .martex-img .href a:hover{
	background-color: var(--main-color);
	color:var(--white-color);
	border: none;
}
.martex-content  li p{
	padding: 30px 10px;
	color:var(--secondary-color);
	display: inline-block;
	
}

/* martex end */




	/* <!-- ONE-STOP SOLUTION start --> */

.ONE-STOP-SOLUTION{
	border-radius: 30px;
	padding: 30px 20px;
	position: relative;
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .08);
	
	


}

.ONE-STOP-SOLUTION i{

	padding: 10px 0;
		font-size:var(--fs-57);
	color:var(--main-color);

}
.stop .ONE-STOP-SOLUTION::after{
	position: absolute;
	width:40%;
	background-color: rgb(251, 231, 239);
	content: '';
	z-index: -1;
	height:25%;
	border-radius:90% 40% 100% 70%;
	top:20px;
	left: 60px;
	transform:translate(-50%);
	padding: 10px 0;
	
}

.ONE-STOP-SOLUTION h2{
	font-size: var(--fs-22);
	color: var(--primary-color);
	font-family:var(--jakarta);
}
.ONE-STOP-SOLUTION p{
	
	font-family: var(--rubik);
	line-height: 30px;
	font-size: var(--fs-18);
	color:var(--para-color);
}

.chekbox{
	
	color:var(--main-color);
}
	/* <!-- ONE-STOP SOLUTION end --> */
	
	
	
	
	/* <!--what-our-amazing start--> */
.what-our-amazing{
	background-image: linear-gradient(180deg, rgba(244, 244, 249, .8) 50%, rgba(244, 244, 249, .05) 100%);
	background-repeat: no-repeat;
}
.what-our-amazing{
	margin: 50px 0;
	background-color: var(--white-color);

}
.what-our-amazing .Content2 p{
	font-size: var(--fs-18);
	color:var(--para-color);
	font-family: var(--rubik);
	padding: 1px;
	margin: 5px;
}
.what-our-amazing .Content2{
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .08);
	padding: 30px 20px ;
	border-radius: 20px;
}
.Content1 .icon-img img{
	border-radius: 50px;
}
.Content1{
	padding: 20px 0;
}
.Content1 span{
	font-size: var(--fs-18);
	font-family: var(--jakarta);
	color:var(--primary-color);
	margin: 10px;
}
/*<!--what-our-amazing end --> */







/* clients-love start */
.clients-love{
	padding: 50px 0;
}
.clients-love .clients-love-content p{
	
	font-size: var(--fs-22);
	font-weight: var(--fw-400);
	color:var(--para-color);
	font-family: var(--jakarta);
	text-align: center;
	padding-bottom: 50px;
}

.icon12{
	color:#ffb30c;
	margin:10px 90px;
	padding:10px 5px;
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .08);
	border-radius:20px;
	
}
.clients-love .clients-love-img{
	text-align: center;
	padding:20px 70px;
	
}
/* clients-love end */





/* Automate  start */
.Automate {
	padding:50px 0;
	text-align:center;
	
}
.Automate  .logo2{
	background-image:url('../img/back.jpg');
	background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
	border-radius:20px;
}
.Automate-img img{
	width:65px;
}

.Automate  .main-image{
	padding:50px 50px;
	text-align:center;
	background-color: var(--white-color);
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .06);
}
.Automate-img{
	padding:30px 0;
}
.Automate  .main-image h2{
	font-size:var(--fs-18);
	color:var(--primary-color);
	font-family:var(--jakarta);
	padding: 20px 0;
	
}
.Automate  .button{
	padding: 50PX 0;
	margin: 50px auto;
	
}
.Automate  .button a{
	color:var(--primary-color);
	border:1px solid black;
	padding: 20px 50px;
	transition: all 0.5s;
	border-radius: 5px;
	font-size: var(--fs-14);
	
}
.Automate  .button a:hover{
	background-color:var(--main-color);
	color:var(--white-color);
	border:none;
	
}


/* Automate end */

/* fast-end-free */

.fast-end-free{
	padding: 50px 0;
	text-align: center;
}
.fast-end-free .logo30{
	background-image:url('../img/bg-03.jpg');
	background-size:cover ;
	width: 100%;
	height: 100%;
	background-position: center;
	border-radius: 25px;
	padding: 50px 0;

}
.fast-end-free.f1 h2{
	color:var(--white-color);
	padding: 10px 0;
	font-size:var(--fs-36);
	font-family:var(--jakarta);
}
.fast-end-free .f1 p{
	color:var(--white-color);
	font-size: var(--fs-22);
	padding: 20px 0;
}
.fast-end-free .f1 a{
	color:var(--white-color);
	font-size: var(--fs-16);
	padding: 10px 20px;
	transition: all 0.5s;
	background-color: var(--main-color);
	border-radius: 5px;
}
.fast-end-free .f1 a:hover{
	background-color: transparent;
	border:1px solid white;
}
.fast-end-free.f1 span{
	display:block;
	padding: 30px 0;
	color:var(--white-color);
	font-family: var(--rubik);
}

/* fast end free end */

/* dropdown start */
footer{
	text-align: center;
	padding: 50px 0;
	
}
footer .menu1 h2{
		padding: 10px 0;
	font-size: var(--fs-18);
	color:var(--primary-color);
	font-family: var(--jakarta);
	

}
footer .menu1 ul li{
	padding: 10px 0;
}
footer .menu1 ul li a{
	font-family: var(--rubik);
	font-size: var(--fs-17);
	padding: 20px 0;
	color: var(--para-color);
	
}
footer .menu1 form{
	padding: 10px 0;
	position: relative;

}
footer .menu1 form input{
	font-size: var(--fs-18);
	font-family: var(--rubik);
	position: relative;
	padding: 20px 10px;
	border: none;
	width: 100%;
	height: 10px ;
	background-color: #f4f4f9;
	
}
footer .button1 i{
	position: absolute;
	color:var(--main-color);
	top:50%;
	right:10px;
	transform: translateY(-50%);

}


/* dropdown end */



/* deshboard start */
.deshboard{
	padding: 30px 0;
}
.deshboard ul{
	padding-left: 10px;
}
.deshboard ul li{
	margin: 10px 0;
	position: relative;
}
.deshboard ul li::after{
	width: 2px;
    background-color: #e4e4e4;
    height: 45%;
	position: absolute;
	content: '';
	bottom: 20px;
    left: 38px;
    transform: translateX(-50%);
}
.deshboard ul li:hover span{
	
	border: 1px solid var(--main-color);
	font-weight: var(--fw-500);
	background-color: var(--white-color);
	color: var(--main-color);
}
.deshboard ul li h2{
	font-size: var(--fs-24);
	font-family: var(--jakarta);
	color:var(--primary-color);
}
.deshboard ul li p{
	padding: 10px 0;
	font-size: var(--fs-18);
	font-family: var(--rubik);
	color:var(--para-color);
	font-weight: var(--fw-100);
	
}
	
.deshboard ul li span{
	background-color: var(--main-color);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	text-align: center;
	display: block;
	font-size: var(--fs-22);
	line-height: 50px;
	transition: all 0.5s;
	color: var(--white-color);

}
.deshboard ul li:last-child::after{
	display: none;
}
/* Dashboards end */




.achieve{
	
	padding:50px 0;
	
}
.achieve .content-box h3{
	margin:20px;
	font-size:var(--fs-36);
	font-family:var(--jakarta);
}

.achieve .content-box ul li p{
	margin:10px;
	font-size:var(--fs-14);
	font-family:var(--rubik);
}


/* Ligula  start */
.Ligula  .Ligula-content{
	padding: 20px 0;
	margin: 10px;
	font-size: var(--fs-18);
	font-family: var(--jakarta);
	color: var(--primary-color);
	
}
.Ligula  .Ligula-content p{
	font-family: var(--rubik);
	line-height: 30px;
	color:var(--para-color);
	padding: 20px 0;
	font-size: var(--fs-18);
	
	
}
.Ligula  .Ligula-content ul li{
	list-style: disc;
}
/* Ligula  end */

.d-none{
	display: none;
}
.toggle{
	font-size: var(--fs-27);
	color: var(--white-color);
	margin-right:20px;
}
header .menu{
	position: absolute;
	width: 100%;
	left: 0;
	top:60px;
	z-index: 9999;
	display: none;
}
header .menu ul{
	flex-direction: column;
	background-color: var(--main-color);
}
header .menu ul li a{
	background-color: none;
}
header .menu ul li{
	padding: 10px;
}
header .menu ul li:nth-last-child(2){
	margin-left:30px;
}
header .menu ul li:last-child a{
	padding: 10px 15px;
}
